<% layout('layout') -%>

<div class="row">
<div class="col-lg-4 col-lg-offset-4">
<!--<% if (message.length > 0) { %> -->
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <!--  <%= message %> -->
  </div>
<!-- <% } %>  -->
      <form method="post" class="form-signin">
        <h2 class="form-signin-heading">Edit Profile</h2>
        <label for="inputName"  class="sr-only">Name</label>
        <input type="text" name="name" id="inputName" value="<%= user.profile.name %>" class="form-control" placeholder="Name" autofocus>
        <label for="inputAddress" class="sr-only">Address</label>
        <input type="text"  name="address" id="inputAddress" value="<%= user.profile.address %>" class="form-control" placeholder="Address" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      </form>
</div>
</div>
