<% layout('layout') -%>
<style>
    .main-image{
      background-repeat: no-repeat, repeat;
      border: 1px solid black;
      height:400px;
      width: 100%;
    }
   </style>
 <img class="main-image" src="../images/ecom-hero.png"/>
 
<div class="jumbotron" id="navbar-gap">
  <div class="container" style="margin-top:-350px;">
    <h2>Shop Smart with a Smart Bot!</h2>
    <p>Statring point to create something more unique</p>
    <p><a class="btn btn-primary btn-md" href="/signup" role="button">Signup &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <h3>Search here</h3>
          <p>Signup to start Buying</p>
      </div>
      <div class="col-md-4">
          <h3>Look for smart items?</h3>
          <p>These will appear across the site as you add to your cart</p>
      </div>
      <div class="col-md-4">
          <h3>Build a smart cart</h3>
          <p>The more smart items you buy together, the more you save :)</p>
      </div>
  </div>
</div>
